.document-contain {
    width: 100px;
    height: max-content;
}

.document-title {
    font-size: 2rem;
    color: white;
}
.document-contain a {
    width: 100%;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}