.main {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.form {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 90%;
    min-height: 650px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(43, 38, 55, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    font-family: 'Roboto', sans-serif;
}

.bg-slides {
    box-sizing: border-box;
    flex: 0 0 50%;
    height: 100%;
    padding: 20px 30px;
}

.slides {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.button-back {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 120px;
    height: 30px;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: rgba(100, 100, 100, 0.5);
    z-index: 20;

}

.button-back>a {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    color: white;
    text-decoration: none;

}

.button-back>a>span:nth-child(1) {
    flex: 1 0 1;
}

.button-back>a>span:nth-child(2) {
    flex: 0 0 24px;
    height: 24px;
    background-image: url('/Login/right-arrow-alt-regular-36.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
}

.img-slide {
    position: absolute;
    width: 100%;
    height: auto;
    object-fit: cover;
    top: 0px;
    left: 0px;
    transition: opacity 0.3s linear;
    border: none;
    opacity: 0;
    z-index: 5;
}

.img-active {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 1;
    z-index: 5;
}

.text-dis {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
    color: white;
    font-size: 3rem;
    z-index: 50;
}

.button-active {
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
    height: 10px;
    width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 20;
}

.button-active>span {
    flex: 0 0 30px;
    height: 5px;
    border: none;
    border-radius: 20px;
    background-color: gray;
    transition: flex-basis 0.3s linear, background-color 0.3s linear;
    cursor: pointer;

}

.active-index {
    flex: 0 0 40px !important;
    background-color: white !important;
}

.contain-form {
    box-sizing: border-box;
    flex: 0 0 50%;
    height: 100%;
    padding: 100px 100px;
}

.header-form {
    margin-top: 0px;
    font-size: 4rem;
    color: white;
}

.form-link {
    font-size: 1.5rem;
    color: rgba(100, 100, 100, 0.5)
}

.form-link a {
    color: blueviolet;
}

.login-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: max-content;
    column-gap: 15px;
    row-gap: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

.login-form>div:nth-child(3),
.login-form>div:nth-child(4) {
    position: relative;
    grid-column: 1/ span 2;
}

.login-form>div>label {
    display: none;
}

.login-form>div>input {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    border: none;
    border-radius: 3px;
    background-color: rgba(59, 53, 75, 1);
    color: rgba(255, 255, 255, 0.8);
}

.login-form div>input::placeholder {
    color: gray;
}

.login-form div>input:focus {
    outline: 2px solid rgb(159, 108, 226);
}

.warn {
    box-sizing: border-box;
    width: 100%;
    height: 1.5rem;
    margin-top: 5px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    color: rgba(255, 0, 0, 0.8);
    font-size: 1.2rem;
}

.warn-password {
    box-sizing: border-box;
    width: 100%;
    height: 1.5rem;
    margin-top: 5px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    color: rgba(255, 0, 0, 0.8);
    font-size: 1.1rem;
}

.email {
    grid-column: 1/ span 2;
}

.password {
    grid-column: 1/span 2;
}

.password::-ms-reveal,
.password::-ms-clear,
.password::-webkit-contacts-auto-fill-button,
.password::-webkit-textfield-decoration-container {
    display: none;
}

.eye {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 0px;
    right: 0px;
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
    cursor: pointer;
    transition: background-image 0.1s linear;
}

.term {
    height: max-content;
    margin: 0;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    grid-column: 1/span 2;

}

.term>input {
    appearance: none;
    position: relative;
    width: 12px;
    height: 12px;
    background-color: white;
}

.term>input:checked::after {
    content: "✔";
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.term>input:hover {
    border: none;
    outline: none;
}

.term>a {
    color: rgb(150, 86, 215);
    padding-left: 5px;
}

.sub-form {
    box-sizing: border-box;
    position: relative;
    margin: 5px 0px;
    border: none;
    color: white;
    height: 40px;
    grid-column: 1/span 2;
    background-color: rgba(128, 58, 242, 0.5);
    cursor: pointer;
}

.text {
    margin: 5px 0px;
    grid-column: 1/span 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    color: gray;
}

.text::before,
.text::after {
    content: "";
    flex: 1;
    height: 0.5px;
    background-color: rgba(100, 100, 100, 1);
}

.button-google,
.button-apple {
    height: 40px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    cursor: pointer;

}

.button-google>span:nth-child(1) {
    flex: 0 0 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    background-image: url('/Login/search.png');
}

.button-apple>span:nth-child(1) {
    flex: 0 0 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    background-image: url('/Login/apple-logo-36.png');
}

@media (max-width:768px) {
    .main {
        padding-top: 50px;
    }

    .bg-slides {
        display: none;
    }

    .form {
        width: 90%;
        min-height: 0;
        height: 500px;
    }
    .header-form {
        font-size: 3rem;
    }
    .contain-form {
        flex: 1 1 0;
        padding: 20px;
    }
}

@media (min-width:769px) and (max-width:1200px) {
    .form {
        width: 95%;
        min-height: 400px;
        max-height: 550px !important;
    }

    .contain-form {
        padding: 50px 10px;
    }

    .header-form {
        font-size: 3rem;
    }

}