.active {
    box-sizing: border-box;
    width: 150px;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.active>div {
    flex: none;
    width: 45px;
    height: 45px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    cursor: pointer;
    border-radius: 50%;
}

.active>div:hover {
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.play-pause {
    background-image: url('/Control/pause-regular-36.png');
}

.prev {
    background-image: url('/Control/fast-forward-regular-36.png');
}

.next {
    background-image: url('/Control/fast-forward-regular-36\ \(1\).png');
}