.discription-movie {
    position: relative;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    color: white;
}

.movie-name {
    font-size: 4rem;
}

.movie-infor {
    font-size: 2rem;
}

.episode {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.actor-list {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.actor {
    flex: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: aliceblue;
}

.discription {
    font-size: 1.5rem;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: normal;
}