.header-contain {
    box-sizing: border-box;
    position: fixed;
    top: 0px;
    left: 300px;
    width: calc(100% - 300px);
    height: 80px;
    padding-right: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    z-index: 9990;
}
@media (max-width:1500px) {
    .header-contain {
        left: 100px;
        width: calc(100% - 100px);
    }
}