.box-control {
    position: absolute;
    left: 10px;
    bottom: 0px;
    width: calc(100% - 20px);
    height: 80px;
    opacity: 0;
    transition: opacity 0.2 linear;
}

.box-control:hover {
    opacity: 1;
}