.food-card {
    box-sizing: border-box;
    position: relative;
    width: 335px;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background-color: black;
}

.food-drink {
    position: relative;
    flex: 0 0 200px;
    height: 100%;
    animation: effect 2s linear 1s infinite alternate forwards;
}

@keyframes effect {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-3deg);
    }

    50% {
        transform: rotate(3deg);
    }

    75% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.food {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    height: auto;
    object-fit: cover;
    z-index: 40;
}

.drink {
    position: absolute;
    top: 20px;
    left: 100px;
    width: 80px;
    height: auto;
    object-fit: cover;
    z-index: 50;
}

.infor {
    position: relative;
    flex: 0 0 calc(100% - 210px);
    height: 100%;
    font-family: "Roboto", sans-serif;
    color: white;
}

.infor-title {
    font-size: 2rem;
}

.more-infor {
    font-size: 1.2rem;
    color: gray;
}

.price-contain {
    position: absolute;
    left: 0px;
    bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.price-value {
    font-size: 1.5rem;
}

.button-order {
    padding: 8px 20px;
    background-color: rgba(181, 217, 36, 1);
    color: black;
    font-size: 1.3rem;
}

@media (max-width:480px) {
    .food-card {
        width: calc((100% - 5px)/2);
        height: 100px;
    }

    .food-drink {
        flex: none;
        width: 45%;
    }

    .food {
        width: 100%;
        height: 100%;
        transform: scale(0.7);
    }

    .drink {
        width: 100%;
        height: 100%;
        bottom: 0px;
        left: 0px;
        transform: translate(20px, -10px) scale(0.5);
    }

    .infor-title {
        font-size: 1.2rem;
    }

    .more-infor {
        font-size: 1rem;
    }

    .price-contain {
        bottom: 10px;
    }

    .price-value {
        font-size: 1rem;
    }

    .button-order {
        padding: 5px 10px;
        font-size: 1rem;
    }
}
@media (min-width:481px) and (max-width:600px) {
    .infor-title {
        font-size: 1.3rem;
    }
    .price-value {
        font-size: 1.2rem;
    }
    .button-order {
        padding: 5px 10px;
        font-size: 1.1rem;
    }

}
@media (min-width:481px) and (max-width:780px) {
    .food-card {
        width: calc((100% - 10px)/2);
        aspect-ratio: 16/9;
        min-height: 120px;
        height: auto;
    }

    .food-drink {
        flex: 0 0 50%;
        border: 1px solid blue;
    }

    .food {
        width: 80%;
        height: 100%;
    }

    .drink {
        left:20px;
        width: 50%;
        height: 70%;
    }

}