.container {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px 20px;
    width: 100%;
    height: auto;
    max-width: 500px;
    min-width: 350px;
    min-height: 450px;
    max-height: 100%;
    aspect-ratio: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.contain {
    box-sizing: border-box;
    padding-bottom: 20px;
    width: 100%;
    max-width: 450px;
    height: 100%;
    max-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 3rem;
}

.form-login {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    -webkit-user-select: none;
    user-select: none;
}

.register {
    box-sizing: border-box;
    margin: 0px;
    width: 100%;
    color: gray;
}

.register>a {
    font-size: 1.3rem;
    color: blueviolet;
}

.login-title {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    color: gray;
    font-size: 1.2rem;
    -webkit-user-select: none;
    user-select: none;
}

.login {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.login-title::before,
.login-title::after {
    content: "";
    flex: 1;
    height: 0.5px;
    background-color: gray;
}
@media (min-width:780px) {
    .contain {
        justify-content: center;
        max-height: 350px;
    }
}

@media(max-width:780px) {
    .container {
        min-width: 300px;
    }

    .contain {
        justify-content: center;
        max-height: 350px;
    }

    .title {
        font-size: 2.2rem;
    }

    .register {
        font-size: 1.2rem;
    }
}

@media (max-width:690px) {
    .container {
        width: 90%;
        min-width: 300px;
        max-width: 350px;
        aspect-ratio: 3/4;
        height: auto;
        max-height: 400px;
        border: 1px solid blueviolet;
        border-radius: 5px;
        background-color: rgba(43, 38, 55, 0.9);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }

    .contain {
        min-width: 300px;
        max-height: 350px;
    }

    .title {
        font-size: 2.5rem;
    }

    .register {
        font-size: 1rem;
    }
}

@media (max-width:480px) {
    .container {
        border: 1px solid blueviolet;
        border-radius: 5px;
        background-color: rgba(43, 38, 55, 0.9);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);

    }

    .contain {
        max-height: 350px;

    }

    .form-login {
        min-width: 300px;
    }

    .title {
        font-size: 2.2rem;
    }
}

@media (max-width:360px) {
    .container {
        min-height: 400px;
        max-height: 400px;
        border: 1px solid blueviolet;
        border-radius: 5px;
        background-color: rgba(43, 38, 55, 0.9);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }

    .contain {
        max-height: 350px;
    }

    .form-login {
        min-width: 300px;
    }

    .title {
        font-size: 2.2rem;
    }
}