.icon-contact {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.icon-contact a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    border-radius: 50%;
    border: 1px solid gray;
    text-decoration: none;
}

@media (max-width:359.99px) {
    .icon-contact {
        width: 30px;
        height: 30px;
        
    }
    .icon-contact a {
        background-size: 18px;
    }
}

@media (min-width:360px) and (max-width:479.99px) {
    .icon-contact {
        width: 35px;
        height: 35px;
    }
}